@page "/weather-station"

@using Vetero.Shared.ViewModels.WeatherStations;
@using Vetero.Client.Components.WeatherStation;

@inject IApiBroker apiBroker;

<h1 class="text-center exotic">Dane stacji pogodowej</h1>

@if(currentData == null)
{
    <p>Loading...</p>
}
else
{
    <WeatherStationCurrent weatherImagePath="@weatherImagePath" currentData="currentData" />
}
@code{
    private CurrentDataVm currentData;
    private string weatherImagePath = string.Empty;

   
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        currentData = await apiBroker.GetCurrentDataAsync();
        weatherImagePath = $"dist/img/weather/{currentData.WeatherImage}";
    }

}