@inherits LayoutComponentBase

<TopNav/>

<NavMenu/>
    <ErrorBoundary>
        <ChildContent>
            <div class="content-wrapper">
                @Body
            </div>           
        </ChildContent>
        <ErrorContent>
            <p>Sorry there is nothing here to see!</p>
        </ErrorContent>
    </ErrorBoundary>

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />