@using Vetero.Shared.Commands.Rapid;

<div class="rz-background-color-success-lighter card text-center">
    @if (!string.IsNullOrWhiteSpace(DateTime))
    {
        <div class="card-header">
            @DateTime
        </div>
    }
    <div class="card-body">
        <p class="display-6">
            @Temperature °c
        </p>
        <p class="small">
            Wilgotność @Humidity %
        </p>
        <p class="small">
            Wiatr @WindSpeed m/s
        </p>
        <p class="small">
            Deszcz @TotalPrecip_mm mm
        </p>
    </div>
</div>

@code {
    [Parameter] public string? DateTime { get; set; }
    [Parameter] public double Temperature { get; set; }
    [Parameter] public double Humidity { get; set; }
    [Parameter] public double WindSpeed { get; set; }
    [Parameter] public double TotalPrecip_mm { get; set; }
}