@page "/"

<PageTitle>Index</PageTitle>

<section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                        <h3>Pogoda</h3>

                <p>Aktualna ze stacji</p>
              </div>
                <div class="icon">
                        <i><iconify-icon icon="carbon:weather-station"></iconify-icon></i>
                </div>
                    <a href="/weather-station" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>Pogoda</h3>

                        <p>Ogólna</p>
                    </div>
                    <div class="icon">
                        <i><iconify-icon icon="fluent:weather-fog-24-regular"></iconify-icon></i>                     
                    </div>                   
                    <a href="/weather-forecast" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>Statystyka</h3>

                <p>Wykresy danych</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="statistics" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>Użytkownik</h3>

                <p>Ustawienia konta</p>
              </div>
              <div class="icon">
                <i class="ion ion-person"></i>
              </div>
              <a href="user-panel" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->          
          </div>
        <RadzenStack AlignItems="AlignItems.Center" Class="rz-mx-auto rz-my-12">
            <RadzenImage Path="@("dist/img/weather/rain-wash-away.png")" />
        </RadzenStack>
    </div>
</section>
