@page "/weather-forecast"
@using Vetero.Client.Components.Forecast
@using Vetero.Shared.ViewModels.Rapid.ForecastItems;
@inject IApiBroker broker

@if (forecast == null)
{
    <p>Loading....</p>
}
else
{
    <WeatherForecastDisplay forecastDay="forecastDay" forecast="forecast" avgCurrent="avgCurrent" />
}
@code {
    private ForecastWeather forecast;
    private IEnumerable<Forecastday> forecastDay;
    private Forecastday avgCurrent;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        forecast = await broker.GetForecastWeatherAsync("Siedlce", days: 14);
        forecastDay = forecast.forecast.forecastday;
        avgCurrent = forecastDay.FirstOrDefault();
    }
}